<div class="container">
  <div class="jumbotron", style = "width:775px">
    <div class="page-header">
      <h2>Creating new post</h2>
    </div>
  <%= render "source/form.html.erb" %>
  </div>
</div>
