<div class="container">
  <div class="jumbotron">

<h1>About me</h1>
<p>
  Hi, my name is Cherednichenko Oleg, I'm student of <a href="http://spalah.com/kh">SPALAH</a> and I'm lovin it.<br>
  There we're studing Ruby on Rails. So this is my project!<br>
  It is a blog, where you can do posts and leave comments.<br>
  P.S. I love book Parpfumer.<br><br>
  You can contact me via:
  <ul>
    <li>email (olegh.cherednichenko@icloud.com)</li>
    <li>VK    (<a href="https://new.vk.com/id97195193">https://new.vk.com/id97195193)</a></li>
  </ul>
</p>
</div>
</div>
